<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 게시글 리스트 불러오기(페이징 처리 전) -->				
	<select id="getBoardList" resultType="boardDTO">
		SELECT 
			BNO,
			TITLE,
			WRITER,
			VIEW_CNT,
			LIKE_CNT,
			TO_CHAR(REGDATE,'YYYY-MM-DD') AS REGDATE
		FROM BOARD_TBL
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="writeBoard" parameterType="boardDTO">
		INSERT INTO BOARD_TBL
		(BNO,TITLE,WRITER,CONTENT,REGDATE)
		VALUES (BNO_SEQ.NEXTVAL,#{title},#{writer},#{content},SYSDATE)
	</insert>

	<!-- 게시글 상세보기 -->
	<select id="getBoardDetail" parameterType="int" resultType="boardDTO">
		SELECT * FROM
		BOARD_TBL
		WHERE BNO = #{bno}
	</select>


	<!-- 게시글 조회수 증가시키기 -->
	<update id="viewCntUpdate" parameterType="int">
		UPDATE BOARD_TBL
		SET VIEW_CNT = VIEW_CNT+1
		WHERE BNO = #{bno}
	</update>
	
	<!-- 게시물 삭제하기 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD_TBL
		WHERE BNO = #{bno}
	</delete>

	<!-- 게시물 수정하기 -->
	<update id="updateBoard" parameterType="boardDTO">
		UPDATE BOARD_TBL
		SET WRITER=#{writer}, TITLE = #{title}, CONTENT = #{content}
		WHERE BNO = #{bno}
	</update>

</mapper>